<!-- footer.component.html -->
<footer class="footer">
    <div class="footer-content">
      <div class="footer-block">
        <h5>MEETING HOURS</h5>
        <ul class="office-hours">
          <li *ngFor="let hour of officeHours">{{ hour.day }}: {{ hour.time }}</li>
        </ul>
      </div>
      <div class="footer-block">
        <a href="/">
        <img [src]="logoUrl" alt="MDDS-DR_Markanday" class="footer-logo">
        </a>
        <address>{{ address }}</address>
        <p>{{ phone }}</p>
        <div class="Location" id="maplocation" (click)="goTomaps()">
          <i class="fa fa-map-marker" aria-hidden="true">Location</i>
          <i class="fa fa-globe" aria-hidden="true"></i>
        </div>
      </div>
      <div class="footer-block footer-rating">
        <p class="rating">{{ rating }} ★★★★★</p>
        <p>from {{ reviewCount }}+ Reviews</p>
      </div>
    </div>
    <div class="footer-social">
      <a href="{{ link.url }}" *ngFor="let link of socialLinks" class="social-link" target="_blank" rel="noopener noreferrer">
        <i class="{{ link.iconClass }}"></i>
      </a>
    </div>
    <div class="footer-bottom">
      <p>© {{ currentYear }} DR. MARKANDAY DENTAL DESIGN STUDIO | All Rights Reserved</p>
     
    </div>
</footer>
