/* footer.component.css */
.footer {
    background-color: rgb(207, 228, 241); /* Dark blue background */
    color: rgb(14, 115, 179);
    padding: 20px 0;
  }

  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
  }
  
  .footer-block {
    margin-top: 0px;

  }
  
  .office-hours {
    list-style: none;
    padding: 0;
  }
  
  .footer-logo {
    width: 300px;
    height: 250px;
    
  }
  .footer-logo:hover{
    transform: scale(120%);
  }
  
  .footer-rating {
    font-size: 1.5em;
  }
  
  .footer-bottom {
    margin-top: 20px;
    text-align: center;
  }
  
  .footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  .social-link {
    display: inline-block;
    margin-right: 10px;
    color: aliceblue;
  }
  .footer-social {
    text-align: center;
    margin: 20px 0; /* Adjust margins as needed */
  }
  
  .footer-social .social-link {
    color: rgba(2, 130, 185, 0.882); /* Adjust the color as needed */
    margin: 0 10px; /* Adjust the spacing between icons as needed */
  }
  
  .footer-social .social-link:hover {
    color: #0c0c0c; /* Adjust for hover effect if needed */
  }
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
    }
  }
  