/* footer.component.css */
.footer {
    background-color: #2c3e50; /* Dark blue background */
    color: white;
    padding: 20px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
  }
  
  .footer-block {
    margin: 10px;
  }
  
  .office-hours {
    list-style: none;
    padding: 0;
  }
  
  .footer-logo {
    width: 150px;
  }
  
  .footer-rating {
    font-size: 1.5em;
  }
  
  .footer-bottom {
    margin-top: 20px;
    text-align: center;
  }
  
  .footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  .social-link {
    display: inline-block;
    margin-right: 10px;
    color: aliceblue;
  }
  .footer-social {
    text-align: center;
    margin: 20px 0; /* Adjust margins as needed */
  }
  
  .footer-social .social-link {
    color: #FFFFFF; /* Adjust the color as needed */
    margin: 0 10px; /* Adjust the spacing between icons as needed */
  }
  
  .footer-social .social-link:hover {
    color: #CCCCCC; /* Adjust for hover effect if needed */
  }
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
    }
  }
  